apiVersion: p3.ed.linuxfoundation.org/v1alpha1
kind: SandboxBlueprint
metadata:
  name: sandbox-vm-ubuntu
spec:
  virtualmachines:
    - name: base
      baseImage: "{upstream_image}:{upstream_image_tag}"
      user: root
