site_name: "LF Education"
site_url: https://linuxfoundation.org

theme:
  name: material
  custom_dir: overrides/
  features:
    - content.code.copy
    - content.code.annotate

extra_css:
  - stylesheets/extra.css

# Remove navigation completely
nav: []

markdown_extensions:
  - admonition
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html

plugins: []
